.loader {
	float: left;
	position: relative;
	width: 5rem;
	height: 5rem;
}

.loader.circle-round {
	height: 5rem;
}

/*circle-round*/
.loader.circle-round span {
	opacity: .05;
	-webkit-animation: circle-round 1s ease infinite;
	animation: circle-round 1s ease infinite;
}

.loader.circle-round-fade span {
	-webkit-animation: circle-round-fade 1s ease infinite;
	animation: circle-round-fade 1s ease infinite;
}

.loader.circle-round span,
.loader.circle-round-fade span {
	position: absolute;
	width: .8rem;
	height: .8rem;
	display: inline-block;
	border-radius: 50%;
	/* background: #1ABC9C; */
	background: #007BFF;
}

.loader.circle-round span:nth-child(1),
.loader.circle-round-fade span:nth-child(1) {
	top: 50%;
	left: 0;
	margin-top: -.4rem;
	-webkit-animation-delay: -1.04s;
	animation-delay: -1.04s;
}

.loader.circle-round span:nth-child(2),
.loader.circle-round-fade span:nth-child(2) {
	top: .7rem;
	left: .7rem;
	-webkit-animation-delay: -.91s;
	animation-delay: -.91s;
}

.loader.circle-round span:nth-child(3),
.loader.circle-round-fade span:nth-child(3) {
	top: 0;
	left: 50%;
	margin-left: -.4rem;
	-webkit-animation-delay: -.78s;
	animation-delay: -.78s;
}

.loader.circle-round span:nth-child(4),
.loader.circle-round-fade span:nth-child(4) {
	right: .7rem;
	top: .7rem;
	-webkit-animation-delay: -.65s;
	animation-delay: -.65s;
}

.loader.circle-round span:nth-child(5),
.loader.circle-round-fade span:nth-child(5) {
	right: 0;
	top: 50%;
	margin-top: -.4rem;
	-webkit-animation-delay: -.52s;
	animation-delay: -.52s;
}

.loader.circle-round span:nth-child(6),
.loader.circle-round-fade span:nth-child(6) {
	bottom: .7rem;
	right: .7rem;
	-webkit-animation-delay: -.39s;
	animation-delay: -.39s;
}

.loader.circle-round span:nth-child(7),
.loader.circle-round-fade span:nth-child(7) {
	bottom: 0;
	left: 50%;
	margin-left: -.4rem;
	-webkit-animation-delay: -.26s;
	animation-delay: -.26s;
}

.loader.circle-round span:nth-child(8),
.loader.circle-round-fade span:nth-child(8) {
	left: .7rem;
	bottom: .7rem;
	-webkit-animation-delay: -.13s;
	animation-delay: -.13s;
}

@keyframes circle-round {
	0% {
		opacity: .05;
	}

	100% {
		opacity: .7;
	}
}

@-webkit-keyframes circle-round {
	0% {
		opacity: .05;
	}

	100% {
		opacity: .7;
	}
}

@keyframes circle-round-fade {
	0% {
		opacity: .25;
		transform: scale(.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes circle-round-fade {
	0% {
		opacity: .25;
		transform: scale(.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
